{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>note</title>
    <link rel="stylesheet" href="{% static 'lab4_note_list.css' %}">
</head>
<body>
    <nav>
        <label class="title">Note</label>
        <ul>
          <li><a href="index">Table</a></li>
          <li><a href="note-list">Card</a></li>
          <li><a href="add">Add Note</a></li>
        </ul>
    </nav>
    <div class="nt">
        {% if notes %}
            {% for note in notes %}
            <div class="box">
                <h3>{{ note.title }}</h3>
                <h4 class="to">To: {{ note.to }}</h4> 
                <h4 class="sent">From: {{ note.sender }}</h4> 
                <h4 class="msg">"{{ note.message }}"</h4> 
            </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>