{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="{% static 'lab4_form.css' %}"
</head>
<body>
    <nav>
        <label class="title">Note</label>
        <ul>
          <li><a href="index">Table</a></li>
          <li><a href="note-list">Card</a></li>
          <li><a href="add">Add Note</a></li>
        </ul>
      </nav>
    <form class="frm" action="" method= "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="submit" type="submit"  value="submit">
    </form>
</body>
</html>