{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note List</title>
    <link rel="stylesheet" href="{% static 'lab4_index.css' %}">
  </head>
  <body>
    <nav>
      <label class="title">Note</label>
      <ul>
        <li><a href="index">Table</a></li>
        <li><a href="note-list">Card</a></li>
        <li><a href="add">Add Note</a></li>
      </ul>
    </nav>
    <div class="table">
      <table style="text-align: center">
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {% if notes %}
            {% for note in notes %}
            <tr>  
            <td>{{ note.to }}</td>
            <td>{{ note.sender }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </table>
    </div>
  </body>
</html>
