html, body{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  nav{
    line-height: 80px;
    width: 100%;
  }
  .title{
    color:white;
    font-size: 30px;
    list-style: 80px;
    padding: 0 65px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 25px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
  }
  .nt{
      display: flex;
      margin-right: 5px;
      margin-bottom: 5px;
      flex-wrap: wrap;
  }
  .box{
      background-color: rgb(197,253,234);
      box-shadow: 0 4px 8px white;
      width: 350px;
      border: 15px solid rgb(197, 253, 234);
      padding: 50px;
      margin: 35px;
      border-radius: 30px;
      height: auto;
      text-align: center;
  }
  .box h3{
    text-align: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .box .to{
    float: left;
  }
  .box .sent{
    float: right;
  }
  .box .msg{
    margin-top: 50px;
    text-align: center;
  }
  .box:hover{
    box-shadow: 0 8px 16px;
    color: black;
  }