html, body{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
nav{
    line-height: 80px;
    width: 100%;
}
.title{
    color: white;
    font-size: 30px;
    list-style: 80px;
    padding: 0 65px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
}
table, td, th {
    border: 1px solid white;
}
table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

div{
    text-align: center;
}
th{
    font-size: 2rem;
    color: white;
}
td { 
    text-align: center; 
    font-size: 1rem;
    color: white;
}