html, body{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
nav{
  line-height: 80px;
  width: 100%;
}
.title{
  color:white;
  font-size: 30px;
  list-style: 80px;
  padding: 0 65px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
form{
    text-align: center;
    font-size: 1rem;
    color: white;
}
input{
  margin-top: 20px;
  width: 100;
  outline: none;
  box-sizing: border-box;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1,  -0.5px -2px 1px white;
}
input:hover{
  box-shadow: none;
}